h1{
    font-size: 30px;
    border: 1px solid red;
    padding-left: 10px;
}

h2{
    font-size: 25px;
    padding: 10px 0;
    border: 5px solid gold;
    margin: 10px 0;
}

span{
    border: 1px solid black;
    padding: 5px;
    color: blue;
}

section{
    width: 25%;
    height: 200px; 
    text-align: center;
    border: 2px solid purple;
}